@import url(/cart.html);
@import url(/wishlist.html);


#Wishlist{
    margin: 80px 0px;
    .container{
        .wishlist{
            .headpart{
                h2{
                    font-weight: 400;
                    letter-spacing: 0;
                    font-size: 2rem;
                }
            }
            form{
               
                table{
                    th{
                        border:1px solid #edeef5;
                    }
                    td{
                        border:1px solid #edeef5;
                    }

                    position: relative;
                    table-layout: auto;
                
                    margin-bottom: 27px;
                    border-collapse: collapse;
                    width: 100%;
                    thead{
                        display: table-header-group;
                        vertical-align: middle;
                        border-color: inherit;
             
                        tr{
                            
                            .product-cb{
                            width: 35px;
                            text-align: center;
                            input{
                                margin-right: 0;
                            }
                            }
                        .product-remove{
                            width: 35px;
                            text-align: center;
                            padding: 1em 0.5em;
                        }
                        .product-thumbnail{
                            min-width: 100px;
    max-width: 100%;
    width: 100px;
                        }
                        .product-name{
                            font-size: .75rem;
                            color:#71778e;
                            font-weight: 600;
                            padding: 1em;
                            vertical-align: middle;
}
.product-price{
    font-size: .75rem;
    color:#71778e;
    font-weight: 600;
    padding: 1em;
    vertical-align: middle ;
}
.product-date{
    font-size: .75rem;
    color:#71778e;
    font-weight: 600;
    padding: 1em;
    vertical-align: middle ;
}
.product-stock{
    font-size: .75rem;
    color:#71778e;
    font-weight: 600;
    padding: 1em;
    vertical-align: middle ;
}
.product-action{
    width: 135px;
    font-size: .75rem;
    color:#71778e;
    font-weight: 600;
    padding: 1em;
    vertical-align: middle ;
    text-align: center;
}
                        }
                    }
                    tbody{
                        box-sizing: border-box;
                        tr{
                            .product-cb{
                            width: 35px;
                            text-align: center;
                            input{
                                margin-right: 0;
                            }
                            }
                        .product-remove{
                            width: 35px;
                            text-align: center;
                            padding: 1em 0.5em;
                            button{
                                border: none;
                                background-color: transparent;
                                
                                i{
                                    
                                    font-style: normal;
                                    font-size: 10px;
                                    font-weight: 900;
                                    font-variant: normal;
                                    text-transform: none;
                                    line-height: 1;
                                   
                                                            }
                            }
                        }
                        .product-thumbnail{
                            min-width: 100px;
    max-width: 100%;
    width: 100px;
                        }
                        .product-name{
                            font-size: .75rem;
                            color:#71778e;
                            font-weight: 600;
                            padding: 1em;
                            vertical-align: middle;
}
.product-price{
    font-size: .75rem;
    color:#71778e;
    font-weight: 600;
    padding: 1em;
    vertical-align: middle ;
}
.product-date{
    font-size: .75rem;
    color:#71778e;
    font-weight: 600;
    padding: 1em;
    vertical-align: middle ;
}
.product-stock{

    font-size: .75rem;
    color:#71778e;
    font-weight: 600;
    padding: 1em;
    vertical-align: middle ;
    span{
        display: table-cell;
    vertical-align: middle;
    i{
        margin-right: 15px;
    }
    }
}
.product-action{
    width: 135px;
    font-size: .75rem;
    color:#71778e;
    font-weight: 600;
    padding: 1em;
    vertical-align: middle ;
    text-align: center;
    BUTTON{
        display: inline-flex;
        align-items: center;
        height: 2.5rem;
        font-size: .7rem;
        font-weight: 500;
        white-space: pre;
        text-decoration: none;
        padding: 0 0.9375rem;
        border: 1px solid;
        color: #fff;
        background-color: #233a95;
        border-radius:4px;
        border-color: transparent;
        box-shadow: none;
        outline: none;
        appearance: none;
        transition: all 0.2s cubic-bezier(.28,.12,.22,1);
    }
}
                        }
                    }
                    tfoot{
                        display: table-footer-group;
                        td{
                    
                            padding: 1em;
                            
    vertical-align: middle;
    .tinvwl-to-left{
        float: left;
        width: 35%;
        margin-right: 2%;
        .tinvwl-input-group{
            position: relative;
            display: flex;
            border-collapse: separate;
            .button{
                
                padding-left: 10px;
                font-size: .75rem;
                height: 2.75rem;
                padding: 0 1.25rem;
                display: inline-flex;
        align-items: center;
        height: 2.5rem;
        font-size: .7rem;
        font-weight: 500;
        text-decoration: none;
        padding: 0 0.9375rem;
        border: 1px solid;
        color: #fff;
        background-color:#233a95;
        border-radius: 4px;
        white-space: pre;
        border-color: transparent;
        box-shadow: none;
        outline: none;
        appearance: none;
        transition: all 0.2s cubic-bezier(.28,.12,.22,1);
       
        vertical-align: middle;
        margin-left: 10px;
        }
            input{
                overflow: visible;
            }
            select{
                font-size: .875rem;
                height: 2.75rem;
                position: relative;
    z-index: 1;
    float: left;
    height: 38px;
    width: 100%;
    margin: 0;
    display: table-cell;
    option{
        font-weight: normal;
        display: block;
        min-height: 1.2em;
        padding: 0px 2px 1px;
        white-space: nowrap;
    }
            }
        }
    }
    .tinvwl-to-right{
        margin-top: -10px;
        float: left;
        width: 63%;
        text-align: right;
        .button{
                font-size: .75rem;
                height: 2.75rem;
                padding: 0 1.25rem;
                display: inline-flex;
        align-items: center;
        height: 2.5rem;
        font-size: .7rem;
        font-weight: 500;
        text-decoration: none;
        padding: 0 0.9375rem;
        border: 1px solid;
        color: #fff;
        background-color:#233a95;
        border-radius: 4px;
        border-color: transparent;
        box-shadow: none;
        white-space: pre;
        outline: none;
        appearance: none;
        transition: all 0.2s cubic-bezier(.28,.12,.22,1);
        margin: 10px 0 0;
        vertical-align: middle;
        margin-left: 10px;
        }
        
    }
                        }
                    }

                }
            }
        }
    }
}
//Wiishlist end--------------

//Basket Start-----------------
#Basket{
    margin: 50px 0px;
    .container{
        
     .woocommerce{
        margin-top: 2.5rem;
        .row{
            display: flex;
            position: relative;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .content-primary{
                padding-right: 15px;
                .cart-wrapper{
                    flex-flow: row wrap;
                    display: flex;
                    form{
                       
                        flex: 1;
                        .klb-free-progress-bar {
                            padding: 20px;
                            border: 1px solid #e4e5ee;
                            margin-bottom: 20px;
                            border-radius: 4px;
                            width: 100%;
                            .free-shipping-notice {
                                color:#3e445a;
                                padding-bottom: 0.625rem;
                                font-size: .7rem;
                            span{
                                color: #ed174a;
    font-weight: bold;
                            }
                        }
                        .klb-progress-bar{
                            position: relative;
                            width: 100%;
                            height: 6px;
                            background-color: #f2f3f5;
                            border-radius: 0.625rem;
                            span{
                                width: 14%;
                                position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    background:#ed174a;
                            }
                            
                        }
  
                    }
                    table{
                        width: 100%;
                        margin-bottom: 1rem;
                        color: #212529;
                        thead{
                        th{
                            border: none;
                            border-bottom: 1px solid #e4e5ee;
                            font-size: .75rem;
                            font-weight: 600;
                            border-top: 0;
                            vertical-align: bottom;
                            color: #71778e;
                            padding: 0.75rem;
                            text-align: left;
                        }
                    }
                    tbody{
                        position: relative;
                        display: table-row-group;
                        vertical-align: middle;
                        border-color: inherit;
                        td{
                            padding-left: 0;
                            border: none;
                            border-top: 1px solid #dee2e6;
                            font-size: .75rem;
                            vertical-align: middle;
                            padding: 0.75rem;
                            text-align: left;
                            .quantity{
                                display: inline-flex;
                                flex-flow: row wrap;
                                align-items: center;
                                label{
                                    clip: rect(1px,1px,1px,1px);
                                    word-wrap: normal!important;
                                    border: 0;
                                    clip-path: inset(50%);
                                    height: 1px;
                                    margin: -1px;
                                    overflow: hidden;
                                    overflow-wrap: normal!important;
                                    padding: 0;
                                    position: absolute!important;
                                    width: 1px;
                                }
                                .quantity-button{
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 1.7rem;
                                    height: 1.7rem;
                                    background-color: #edeef5;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    i{
                                        line-height: 1;
                                        font-style: normal;
                                  
                                        display: inline-block;
                                        text-decoration: inherit;
                                        width: .8em;
                                        text-align: center;       
                                        font-variant: normal;
                                        text-transform: none;
                                        line-height: 1em;
                                    }
                                }
                                .qty{
                                    width: 1.9rem;
                                    height: 1.9rem;
                                    border: 0;
                                    padding: 0;
                                    margin: 0;
                                    background-color: transparent;
                                    text-align: center;
                                    pointer-events: none;
                                }

                            }
                            span{
                                color: #71778e;
                                font-size: .7rem;
                                font-weight: 500;
                            }
                            a{
                                color: currentColor;
                                text-decoration: none;
                            }
                        }
                       .actions{
                        padding-right: 0;
                        .actions-wrapper{
                            a{
                                white-space: nowrap;
            display: inline-flex;
        align-items: center;
        height: 2.5rem;
        font-size: .7rem;
        font-weight: 500;
        text-decoration: none;
        padding: 0 0.9375rem;
        border: 1px solid;
        color: #fff;
        background-color: #233a95;
        border-radius: 4px;
        border-color: transparent;
        box-shadow: none;
        outline: none;
        appearance: none;
        transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
        margin-left: 0.625rem;
                            }
                            flex-flow: row wrap;
  
                            align-items: center;
                            display: flex;
                            justify-content: space-between;
                            .coupon{
    display: inline-flex;
    align-items: center;
    input{
        min-width: 17.5rem;
        display: inline-flex;
        align-items: center;
        font-size: .8rem;
        width: 100%;
        height: 2.5rem;
        padding: 0 0.9375rem;
        box-shadow: none;
        outline: none;
        appearance: none;
        color:#3e445a;
        background-color: #f3f4f7;
        border: 1px solid transparent;
        border-radius:4px;
        transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
    }
    button{
        white-space: nowrap;
        display: inline-flex;
    align-items: center;
    height: 2.5rem;
    font-size: .7rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0 0.9375rem;
    border: 1px solid;
    color: #fff;
    background-color: #233a95;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: none;
    outline: none;
    appearance: none;
    transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
    margin-left: 0.625rem;
    }
                            }
                        }
                       }
                    }
                    }
                }
                .cart-total {
                    flex: 0 0 20rem;
                    max-width: 20rem;
                    margin-left: 1.875rem;
                    border: 1px solid #e4e5ee;
                    border-radius: 7px;
                    padding: 1.25rem;
                    h2{
                        font-size: .9rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding-bottom: 0.9375rem;
                        border-bottom: 0.9375rem;
                        border-bottom: 1px solid #edeef5;

                    }
                    table{
                        width: 100%;
                        max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    tbody{
        
        .cart-subtotal{
        th{
            border: none;
    border-bottom: 1px solid #edeef5;
    padding-top: 0.4375rem;
    padding-bottom: 0.625rem;
    font-size: .7rem;
    font-weight: 600;
        }
        td{
            border: none;
            border-bottom: 1px solid #edeef5;
            text-align: right;
            span{
                font-size: .8rem;
            }
        }
    }
    .woocommerce-shipping-totals{
        
        th{
            border: none;
            border-bottom: 1px solid #edeef5;
            padding-top: 0.4375rem;
            padding-bottom: 0.625rem;
            font-size: .7rem;
            font-weight: 600;
        }
        td{
            border: none;
            border-bottom: 1px solid #edeef5;
            text-align: right;
            ul{
                list-style: none;
    padding: 0;
    font-size: .7rem;
    margin: 0;
    li{
        margin-bottom: 10px;
        input{
            box-sizing: border-box;
            position: relative;
    top: 4px;
    float: right;
    margin-right: 0;
    margin-left: 7px;
    vertical-align: middle;
    padding: 0;
    overflow: visible;
        }
        label{
            margin-bottom: 0;
    vertical-align: middle;
    span{
        font-size: .875rem;
    color:#ed174a;
    }
        }
    }
            }
            p{
                font-size: .775rem;
                strong{
                    font-weight: bolder;
                }
            }
            form{
                display: block;
                margin-top: 0em;
                margin-right: 0px;
                a{
                    margin-bottom: 10px;
                    display: block;
                    font-size: .7rem;
                    color: #2bbef9;
                }
                td{
    text-align: right;
                }
            }
        }
    }
    .order-total {
        th{
        border: none;
        padding-top: 1.25rem;
        padding-bottom: 0.625rem;
        font-size: .87rem;
        font-weight: 600;
    }
    td{
        border: none;
        padding-top: 1.25rem;
    padding-bottom: 0.625rem;
    text-align: right;
    padding: 4px;
    strong{
        font-weight: 900;
        span{
            font-size: 1.2rem;
        }
    }
    }
}
    }
                    }
                    .checkout{
                     padding-top: 0.9375rem;
                     border-top: 1px solid #edeef5;
                   a{
                    color: #fff;
                    background-color:#ed174a;
                    border-color:#ed174a;
                    width: 100%;
                    justify-content: center;
                    height: 3.125rem;
                    display: inline-flex;
                    align-items: center;
                    height: 2.5rem;
                    font-size: .7rem;
                    font-weight: 500;
                    text-decoration: none;
                    padding: 0 0.9375rem;
                    border: 1px solid;
                    border-radius: 4px;
                    border-color: transparent;
                    box-shadow: none;
                    outline: none;
                    appearance: none;
                   }
                    }
                    }
                }
            }
        }
     }
    }
}



//Basket End---------------------



//Basket Responsive------------
@media (max-width: 576px) {
#Basket{
    .product-price{
        display: none;
    }
    .product-subtotal{
        display: none;
    }
    .remove-all{
        width: 100%;
        margin-left: 0px !important;
        margin-top: 20px;
    }
    .coupon{
        width: 100%;
    }
  
    #Basket .container .woocommerce .row .content-primary {
        padding-right: 0px}
        .quantity{
            flex-flow: nowrap !important;
        }
}
#Basket .container .woocommerce .row .content-primary {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0.9375rem !important;
    padding-right: 0.9375rem !important;
}
#Basket .container .woocommerce .row .content-primary .cart-wrapper .cart-total{
  margin-left: 0px;
  flex:0 0 100% !important;
  max-width: 100%;
}
   
}


  