*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a{
    text-decoration: none;
}
}

.store-notice{
    color: #fff;
    background-color: #233a95;
    text-align: center;
    font-size: .75rem;
    padding: 7px 0px;
}
header{
    .header-top{
         background-color: #fff;
         border-bottom: 1px solid #e3e4e6;
         color:#3e445a;
         
    .container{
       display: flex;
      align-items: center;
       justify-content: space-around   ;
        color:#3e445a;
        font-size: 11px;
        margin: 0px;
        max-width: 100%;
        .columncolumn-left{
           nav{
           .menu-top-left{
            display: flex;
            align-items: center; 
            justify-content: space-between;
            margin-bottom: 0px;
           li{
            list-style: none;
            font-weight: 350;
            margin: 7px 10px 7px 0px;
            a{
                color: #3e445a;
                
                &:hover{
                    color: #2bbef9;
                    transition: 0.2s;
                }
            }
           }
           }
           }
        }
        .columncolumn-right{
            
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .top-notice{
            margin: 7px 0px 7px 0px;
            padding-right: 10px;
            border-right: 1px solid #e3e4e6;
            }
            .text-content{
                padding-right: 15px;
                margin: 7px 0px 7px 20px;
                border-right: 1px solid #e3e4e6;
            }
            .header-switchers{               
               #menu-top-right-1{
                list-style: none;
                display: flex;
                margin-bottom: 0px;
                a{
                    margin: 7px 20px 7px 7px;
                    display: inline-block;
                    color: #3e445a;
                    &:hover{
                        color: #2bbef9;
                        transition: 0.2s;
                    }
                }
                i{
                    color: #000;
                    color: #3e445a;
                    font-size: 10px;
                    margin-left: 5px;
                }
                
               }
               
               }
            }
        }   
    }
    .header-main{
        background-color: #ffffff;
        padding-top: 1.875rem;
        margin: 0px 20px;
        .container{

            max-width: 100%;
            display: flex;
            align-items: center;
padding: 0px 5.5rem;
            .columncolumn-left{
                
                img{
                width: 164px;
            }
            span{
                display: block;
                font-size: .6875rem;
                opacity: .5;
                color: #3e445a;
                margin-top: 2px
            }
        }
        .columncolumn-center{
            display: flex;
            flex-grow: 1;
            align-items: center;
          .header-location{
            margin-left: 2rem;
            margin-right: 1.875rem;
            a{
                 background-color: #ffffff;
                 position: relative;
                  color: #3e445a;
                  border:1px solid #d9d9e9;
                  display: flex;
                  align-content: center;
                  border: 1px solid #d9d9e9;
                  flex-flow: wrap;
                  text-decoration: none;
                  max-width: 11.25rem;
                  min-height: 3.75rem;
                  padding-left: 1.125rem;
                  padding-right: 1.125rem;
                  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
                  border-radius: 10px;
                span{
                    font-size: .625rem;
                    opacity: .5;
                    order: 1;
                    color: #3e445a;
                }
                .current-location{
                    color: #233a95;
                    font-size: .8125rem;
                    font-weight: 600;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    order: 3;
                    padding-right: 1.25rem;
                }
                i{
                    position: absolute;
                    right: 10%;
                    top: 30%;
                }

            }
        }
        .header-search{
            flex: 1;
            form{
            position: relative;
            display: inline-flex;
            align-items: center;
            width: 100%;
            button{
                all: unset;
                position: absolute;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
                height: 100%;
                right: 30px;
                top: 0;
                cursor: pointer;
            i{
                color:#3e445a;
                width: 1rem;
                opacity: 1;
                line-height:10%;
            }
            }

        }
        input{
            padding-left: 60px;
            display: inline-flex;
    align-items: center;
    font-size: 15px;
    width: 100%;
    height: 3.5rem;
    padding: 0 30px;
    box-shadow: none;
    outline: none;
    appearance: none;
    color: var(--color-text);
    background-color:#f3f4f7 ;
    border: 1px solid transparent;
    border-radius:10px ;
    transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
        }
    }
        }
        .columncolumn-right{
            margin-left: 2rem;
            .header-cart{
                a{
                    display: inline-flex;
                    align-items: center;
                    position: relative;
                    color: #3e445a;
                    text-decoration: none;
                    background-color: transparent;
                    .cart-price{
                    font-family: var(--font-secondary);
                    font-size: 1rem;
                    font-weight: 600;
                    margin-right: 0.9375rem;
                    }
                    .button-icon{
                        position: relative;
                        color: #ea2b0f;
                        background-color: #fff1ee;
                        border-color: #fff1ee;
                        width: 2.625rem;
                        height: 2.625rem;
                        border: 1px solid #e2e4ec;
                        border-radius: 50%;
                        i{
                            line-height: 1;
                            padding: 10px 13px;
                            span{
                                top: -15%;
                                right: -20%;
                                position: absolute;
                                background-color: #ea2b0f;
                                color: white;
                                font-size: 10px;
                                padding: 5px;
                                border-radius: 45%;

                            }
                        }
                    }
                }
            }
        }
        }
    }
}

